<html>
<title>Home</title>
<head></head>
<body>
	<form action="/table" method="post" id="inputs">
		True symbol: <input type="text" name="t_symbol" id="t_symbol"><br>
		False symbol: <input type="text" name="f_symbol" id="f_symbol"><br>
		Size (2^x): <input type="text" name="x" id="x"><br>
		<input type="submit" value="Show truth table" id="submit"><br>
		<p><a href="/">Reload page</a></p>
	</form>
</body>
</html>