<html>
<title>Error: Invalid Parameters</title>
<head></head>
<body>
	<h1>ERROR</h1>
	<h1>Invalid parameters.</h1>
	<p>Please enter:</p>
	<div id="valid_inputs">
		<p>
			&nbsp;&nbsp;&nbsp;&nbsp;1. A single-character true symbol<br>
			&nbsp;&nbsp;&nbsp;&nbsp;2. A single-character false symbol<br>
			&nbsp;&nbsp;&nbsp;&nbsp;3. A size greater than or equal to 2<br>
			&nbsp;&nbsp;&nbsp;&nbsp;4. Different characters for the true and false symbols.
		</p>
	</div>
	<p><a href="/">Back to main</a></p>
</body>	
</html>